@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container-wide, .container {
  width: 100%;
  min-width: 300px; }
  .container-wide::before, .container::before, .container-wide::after, .container::after {
    content: "";
    display: table; }
  .container-wide::after, .container::after {
    clear: both; }
  .container-wide, .container {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }

.container {
  max-width: 1200px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

.featured-main {
  float: left;
  width: 66.66%; }
  @media screen and (max-width: 768px) {
    .featured-main {
      width: 100%;
      float: none; } }

.featured-articles {
  float: right;
  width: 33.33%; }
  @media screen and (max-width: 768px) {
    .featured-articles {
      width: 100%;
      float: none; } }

.news-item, .fund-item {
  float: left;
  width: 25%;
  min-height: 235px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (max-width: 1024px) {
    .news-item, .fund-item {
      width: 33.33%;
      min-height: 220px; } }
  @media screen and (max-width: 768px) {
    .news-item, .fund-item {
      width: 100%;
      float: none;
      min-height: 74px; } }

@media screen and (max-width: 1024px) {
  .fund-item:last-child {
    display: none; } }

.categorie-item {
  float: left;
  width: 33.33%;
  min-height: 715px;
  margin-bottom: 20px; }
  @media screen and (max-width: 1024px) {
    .categorie-item {
      width: 50%;
      min-height: 700px; } }
  @media screen and (max-width: 768px) {
    .categorie-item {
      width: 100%;
      float: none; } }

.footer-links {
  float: left;
  width: 33.33%;
  min-width: 210px;
  padding-top: 30px;
  padding-left: 10px; }
  @media screen and (max-width: 768px) {
    .footer-links {
      width: 50%; } }

body {
  font-family: "Quicksand", Helvetica, Arial, sans-serif; }

h1 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif; }

h2 {
  color: white;
  font-family: "Ropa Sans", sans-serif;
  text-transform: uppercase; }

h3 {
  color: #ff4422;
  font-weight: bold;
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px; }
  h3:hover {
    color: black; }

h4 {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif; }
  h4:hover {
    color: #ff4422;
    text-decoration: underline; }
  @media screen and (max-width: 1024px) {
    h4 {
      font-size: 14px; } }

h5 {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px; }

h6 {
  font-weight: bold;
  font-size: 16px; }

a {
  text-decoration: none;
  color: inherit; }

small {
  color: #999;
  font-size: 12px;
  font-weight: bold; }
  @media screen and (max-width: 1024px) {
    small {
      letter-spacing: -0.8px; } }

.icon, .icon-fb, .icon-tweet, .icon-mail, .icon-more, .icon-search, .icon-time, .icon-share, .icon-tag, .icon-case, .icon-fb-alt, .icon-tweet-alt, .icon-youtube, .icon-insta, .icon-pin, .icon-feed, .icon-mail-alt {
  background-color: transparent;
  background-image: url("/imgs/icons-sprite.svg");
  background-size: 1248px 1248px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle; }

.icon-fb {
  background-position: -240px -240px; }
  .icon-fb:hover {
    background-position: -256px -256px; }

.icon-tweet {
  background-position: -944px -944px; }
  .icon-tweet:hover {
    background-position: -960px -960px; }

.icon-mail {
  background-position: -497px -497px; }
  .icon-mail:hover {
    background-position: -513px -513px; }

.icon-more {
  background-position: -544px -544px; }
  .icon-more:hover {
    background-position: -560px -560px; }

.icon-search {
  background-position: -784px -784px; }
  .icon-search:hover {
    background-position: -800px -800px; }

.icon-time {
  background-position: -128px -128px;
  -webkit-transform: scale(0.875, 0.875);
  -ms-transform: scale(0.875, 0.875);
  transform: scale(0.875, 0.875); }

.icon-share {
  background-position: -832px -832px;
  -webkit-transform: scale(0.875, 0.875);
  -ms-transform: scale(0.875, 0.875);
  transform: scale(0.875, 0.875); }

.icon-tag {
  background-position: -928px -928px; }

.icon-case {
  background-position: -48px -48px; }

.icon-fb-alt {
  background-position: -272px -272px; }

.icon-tweet-alt {
  background-position: -976px -976px; }

.icon-youtube {
  background-position: -1232px -1232px; }

.icon-insta {
  background-position: -368px -368px; }

.icon-pin {
  background-position: -624px -624px; }

.icon-feed {
  background-position: -768px -768px; }

.icon-mail-alt {
  background-position: -528px -528px; }

.top-news .featured-main {
  padding: 7px; }
  .top-news .featured-main .article-1 {
    background-image: -webkit-linear-gradient(290deg, rgba(225, 0, 84, 0.9) 0%, transparent 50%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/europe.png);
    background-image: -o-linear-gradient(290deg, rgba(225, 0, 84, 0.9) 0%, transparent 50%), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/europe.png);
    background-image: linear-gradient(160deg, rgba(225, 0, 84, 0.9) 0%, transparent 50%), linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/europe.png);
    height: 490px; }
    @media screen and (max-width: 1024px) {
      .top-news .featured-main .article-1 {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/europe.png);
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/europe.png);
        background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/europe.png);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/europe.png);
        height: 369px; } }
    @media screen and (max-width: 768px) {
      .top-news .featured-main .article-1 {
        margin-top: 48px;
        height: 200px; } }
  .top-news .featured-main span {
    display: block;
    width: 100%;
    text-align: right;
    color: white;
    font-size: 13px; }
    @media screen and (max-width: 1024px) {
      .top-news .featured-main span {
        display: none; } }
  .top-news .featured-main h1 {
    font-size: 44px;
    margin-bottom: 10px; }
    @media screen and (max-width: 1024px) {
      .top-news .featured-main h1 {
        font-size: 34px; } }
    @media screen and (max-width: 768px) {
      .top-news .featured-main h1 {
        font-size: 20px;
        margin-bottom: 0; } }

.top-news .featured-articles {
  padding: 7px;
  padding-left: 0; }
  @media screen and (max-width: 768px) {
    .top-news .featured-articles {
      padding-left: 7px;
      padding-top: 0; } }
  .top-news .featured-articles article {
    height: 241.5px;
    margin-bottom: 7px; }
    @media screen and (max-width: 1024px) {
      .top-news .featured-articles article {
        height: 181px; } }
  .top-news .featured-articles .article-2 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/robot.jpg);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/robot.jpg);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/robot.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/robot.jpg); }
  .top-news .featured-articles .article-3 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/HackerDDos.jpg);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/HackerDDos.jpg);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/HackerDDos.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/HackerDDos.jpg); }
  @media screen and (max-width: 1024px) {
    .top-news .featured-articles h1 {
      font-size: 20px; } }

.top-news article {
  background-size: cover;
  position: relative;
  padding: 15px; }

.top-news .article-content {
  position: absolute;
  bottom: 0; }

.top-news .logo {
  width: 425px;
  position: absolute;
  top: 20px;
  left: 20px; }
  @media screen and (max-width: 1024px) {
    .top-news .logo {
      display: none; } }

.top-news small {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px; }

.top-news a:hover {
  color: white; }

.categories li {
  font-size: 13px;
  line-height: 1.5;
  margin-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #d5d5d5;
  padding-left: 10px;
  text-indent: -10px; }
  .categories li::before {
    content: "• ";
    color: #ff4422; }
  .categories li a {
    color: #444; }
    .categories li a:hover {
      color: black; }

.cat-content {
  padding-left: 10px;
  padding-right: 10px; }

.cat-head {
  position: relative;
  width: 100%;
  height: 23vw;
  background: no-repeat center center;
  background-size: cover; }
  @media screen and (max-width: 1024px) {
    .cat-head {
      height: 33vw; } }
  @media screen and (max-width: 768px) {
    .cat-head {
      height: 70vw; } }
  .cat-head h1 {
    font-size: 19px;
    line-height: 26px; }
  .cat-head small a:hover {
    color: white; }
  .cat-head .cat-head-title {
    position: absolute;
    padding: 15px;
    bottom: 0; }

.cat-latest {
  margin-top: 1px;
  background: #fff9f8;
  color: #ff4422;
  height: 96px;
  position: relative;
  font-size: 15px; }
  .cat-latest a {
    font-weight: bold; }
    .cat-latest a:hover {
      text-decoration: underline; }
  .cat-latest h2 {
    color: inherit; }
  .cat-latest .latest-title {
    padding: 15px;
    margin-right: 86px; }
  .cat-latest img {
    position: absolute;
    top: 0;
    right: 0;
    width: 96px;
    height: 96px; }

.apps {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/c1.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c1.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c1.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c1.jpg); }

.gear {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/c2.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c2.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c2.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c2.jpg); }

.tech {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/c3.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c3.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c3.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c3.jpg); }

.creative {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/c4.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c4.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c4.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c4.jpg); }

.contributors {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/c5.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c5.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c5.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c5.jpg); }

.insights {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/c6.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c6.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c6.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c6.jpg); }

.launch {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/c7.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c7.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c7.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c7.jpg); }

.world {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/c8.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c8.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c8.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c8.jpg); }

.distract {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(transparent)), url(/imgs/c9.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c9.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c9.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url(/imgs/c9.jpg); }

.drop-btn h2:hover {
  color: #333; }

.dropdown-content {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  background-color: #fff;
  width: 150px; }
  .dropdown-content a {
    display: block;
    color: #999;
    font-family: "Ropa Sans", sans-serif;
    text-transform: uppercase;
    line-height: 30px;
    border-top: 1px solid #dadada;
    padding-left: 20px; }
    .dropdown-content a:hover {
      color: #333; }

.dropdown:hover .dropdown-content {
  display: block; }

.nav-alt {
  position: fixed;
  z-index: 999;
  display: none;
  width: 105px; }
  .nav-alt a {
    background: black;
    display: block;
    width: 105px;
    line-height: 31px;
    color: #999;
    font-size: 13px;
    font-weight: bold;
    text-align: center; }
    .nav-alt a:hover {
      color: white; }
  .nav-alt ul {
    display: none;
    position: fixed;
    top: 79px;
    left: 0; }
  .nav-alt .menu-img {
    height: 48px; }
  @media screen and (max-width: 768px) {
    .nav-alt {
      display: block; } }
  .nav-alt:hover ul {
    display: block; }
  .nav-alt:hover .menu-btn {
    display: none; }

.news-item small, .fund-item small {
  font-weight: normal; }

.news-item a:hover, .fund-item a:hover {
  color: #454545; }

@media screen and (max-width: 768px) {
  .news-item h4, .fund-item h4 {
    margin-bottom: 5px; } }

.image, .image-1, .image-2, .image-3, .image-4, .image-5, .image-6, .image-7, .image-8, .image-9, .image-10, .image-11, .image-12 {
  display: block;
  max-height: 398px;
  height: 11vw;
  background-size: cover;
  margin-bottom: 10px; }
  @media screen and (max-width: 1024px) {
    .image, .image-1, .image-2, .image-3, .image-4, .image-5, .image-6, .image-7, .image-8, .image-9, .image-10, .image-11, .image-12 {
      height: 22vh; } }
  @media screen and (max-width: 768px) {
    .image, .image-1, .image-2, .image-3, .image-4, .image-5, .image-6, .image-7, .image-8, .image-9, .image-10, .image-11, .image-12 {
      width: 72px;
      height: 72px;
      float: left;
      margin-right: 15px; } }

.image-1 {
  background-image: url(/imgs/1.jpg); }

.image-2 {
  background-image: url(/imgs/2.jpg); }

.image-3 {
  background-image: url(/imgs/3.jpg); }

.image-4 {
  background-image: url(/imgs/4.jpg); }

.image-5 {
  background-image: url(/imgs/5.jpg); }

.image-6 {
  background-image: url(/imgs/6.jpg); }

.image-7 {
  background-image: url(/imgs/7.jpg); }

.image-8 {
  background-image: url(/imgs/8.jpg); }

.image-9 {
  background-image: url(/imgs/9.jpg); }

.image-10 {
  background-image: url(/imgs/10.jpg); }

.image-11 {
  background-image: url(/imgs/11.jpg); }

.image-12 {
  background-image: url(/imgs/12.jpg); }

.image-1 {
  background-image: url(/imgs/1.jpg); }

.top-bar {
  background: white;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  -webkit-box-shadow: 0 0 20px rgba(170, 167, 167, 0.6);
  box-shadow: 0 0 20px rgba(170, 167, 167, 0.6); }
  .top-bar::before, .top-bar::after {
    content: "";
    display: table; }
  .top-bar::after {
    clear: both; }
  .top-bar {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }
  .top-bar h2 {
    color: #999999;
    line-height: 48px;
    font-size: 16px; }
    @media screen and (max-width: 768px) {
      .top-bar h2 {
        display: none; } }
  .top-bar ul {
    margin-left: 20px; }
  .top-bar li {
    float: right;
    line-height: 48px; }
    @media screen and (max-width: 768px) {
      .top-bar li {
        display: none; } }
  .top-bar i {
    margin: 11px 8px; }
  .top-bar li:nth-child(2) {
    border-left: 1px solid #ececec;
    padding-left: 15px;
    padding-right: 15px;
    display: none; }
    .top-bar li:nth-child(2) a {
      display: block;
      padding-top: 14px;
      height: 48px;
      line-height: 48px; }
    .top-bar li:nth-child(2) span {
      display: block;
      background-color: #ff4422;
      width: 20px;
      height: 2px;
      margin-top: 4px; }
    @media screen and (max-width: 768px) {
      .top-bar li:nth-child(2) {
        display: block; } }
  .top-bar li:nth-child(3) {
    border-left: 1px solid #ececec;
    padding-left: 8px;
    padding-right: 8px; }
    @media screen and (max-width: 768px) {
      .top-bar li:nth-child(3) {
        display: block; } }
  .top-bar li:first-child {
    float: left; }

nav {
  margin-top: 48px;
  background: black;
  height: 30px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  overflow: hidden; }
  nav::before, nav::after {
    content: "";
    display: table; }
  nav::after {
    clear: both; }
  nav {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }
  nav ul {
    margin-left: 20px; }
  nav li {
    float: left;
    margin-right: 10px; }
  nav .right {
    float: right; }
  nav a {
    color: #999999;
    line-height: 30px; }
    nav a:hover {
      color: white; }
  @media screen and (max-width: 768px) {
    nav {
      display: none; } }

.fund {
  position: relative; }
  .fund .fund-links {
    position: absolute;
    top: 25px;
    right: 0;
    color: #ff4422; }
    @media screen and (max-width: 1024px) {
      .fund .fund-links {
        position: static;
        margin: 5px; } }
    @media screen and (max-width: 768px) {
      .fund .fund-links span {
        display: none; }
      .fund .fund-links a {
        display: block;
        font-size: 14px;
        margin-bottom: 15px; } }
    .fund .fund-links a {
      margin-left: 5px;
      margin-right: 5px; }
      .fund .fund-links a:hover {
        color: black; }
  .fund .fund-item {
    position: relative; }
    .fund .fund-item h5 {
      background-color: #ff4422;
      padding-left: 80px;
      line-height: 40px; }
    .fund .fund-item h2 {
      color: #999;
      background-color: #ffdbd5;
      padding-left: 80px;
      padding-top: 10px;
      line-height: 40px; }
      .fund .fund-item h2 b {
        position: absolute;
        top: 43px;
        left: 90px;
        color: black;
        font-weight: bold; }
  .fund img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 20px; }
  .fund .fund-tags {
    font-size: 13px;
    background-color: #fff9f8;
    padding: 5px;
    padding-left: 15px;
    line-height: 20px; }
    .fund .fund-tags a {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px; }
    .fund .fund-tags i {
      margin-right: 10px; }
  .fund .fund-details {
    color: #777;
    font-size: 12px;
    line-height: 20px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 15px;
    background-color: #fff9f8;
    border-top: 1px solid #ffb0a2; }

.deals {
  position: relative;
  font-size: 16px; }
  .deals img {
    width: 100%;
    margin-bottom: 10px;
    height: auto; }
    @media screen and (max-width: 768px) {
      .deals img {
        width: 72px;
        height: 72px;
        float: left;
        margin-right: 15px; } }
  .deals h3 {
    width: 180px; }
  @media screen and (max-width: 1024px) {
    .deals {
      font-size: 14px; } }
  .deals .deals-link {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #ff4422; }
    .deals .deals-link:hover {
      color: black; }
  .deals small {
    text-decoration: line-through; }
  .deals span {
    color: #333; }
  .deals article {
    height: 280px;
    margin-bottom: 0; }
    @media screen and (max-width: 1024px) {
      .deals article {
        height: 300px; } }
    @media screen and (max-width: 768px) {
      .deals article {
        height: 74px; } }

footer {
  background: #131313;
  color: white; }
  footer a:hover {
    color: white; }
  footer h2 {
    color: #999;
    font-size: 18px;
    margin-bottom: 15px; }
  footer li {
    font-size: 14px;
    margin-top: 10px; }
  footer .date {
    color: #555555;
    font-size: 14px;
    margin-left: 5px; }
  footer .social {
    text-align: center;
    width: 100%;
    margin-top: 90px; }
    footer .social ul {
      margin-bottom: 15px; }
    footer .social li {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px; }
      @media screen and (max-width: 768px) {
        footer .social li {
          margin: 0; } }
    footer .social h2 {
      font-size: inherit; }
    footer .social .social-icons a {
      display: inline-block;
      background-color: #333;
      border: 2px solid #333;
      border-radius: 50%;
      width: 40px;
      height: 40px; }
      footer .social .social-icons a:hover {
        background: none; }
    footer .social .social-icons i {
      margin-bottom: -20px; }
  footer .copy {
    text-align: center;
    height: 97px;
    line-height: 97px;
    color: #aaa;
    font-size: 13px;
    background: black;
    padding-bottom: 50px; }
    @media screen and (max-width: 768px) {
      footer .copy {
        height: 122px;
        line-height: 16px;
        padding-top: 30px; }
        footer .copy span {
          display: block; } }
    footer .copy img {
      height: 9px; }
    footer .copy .heart {
      color: red; }
