.drop-btn{
  h2:hover{
    color: #333;
  }
}

.dropdown-content{
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  background-color: #fff;
  width: 150px;
  a{
    display: block;
    color: #999;
    font-family: $font-minor;
    text-transform: uppercase;
    line-height: 30px;
    border-top: 1px solid #dadada;
    padding-left: 20px;
    &:hover{
      color: #333;
    }
  }
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-alt{
  position: fixed;
  z-index: 999;
  display: none;
  width: 105px;
  a{
    background: black;
    display: block;
    width: 105px;
    line-height: 31px;
    color: #999;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    &:hover{
      color: white;
    }
  }
  ul{
    display: none;
    position: fixed;
    top: 79px;
    left: 0;
  }
  .menu-img{
    height: 48px;
  }
  @include mQ(768px){
    display: block;
  }
  &:hover ul {
    display: block;
  }
  &:hover .menu-btn {
    display: none;
  }
}
