.container-wide{
  @include clearfix;
  width: 100%;
  min-width: 300px;
}

.container{
  @extend .container-wide;
  max-width: 1200px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @include mQ(768px){
    margin-bottom: 0;
  }
}

.featured-main{
  float: left;
  width: 66.66%;
  @include mQ(768px){
    width: 100%;
    float: none;
  }
}

.featured-articles{
  float: right;
  width: 33.33%;
  @include mQ(768px){
    width: 100%;
    float: none;
  }
}

.news-item{
  float: left;
  width: 25%;
  min-height: 235px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  @include mQ(1024px){
    width: 33.33%;
    min-height: 220px;
  }
  @include mQ(768px){
    width: 100%;
    float: none;
    min-height: 74px;
  }
}

.fund-item{
  @extend .news-item;
  @include mQ(1024px){
    &:last-child{
      display: none;
    }
  }
}

.categorie-item{
  float: left;
  width: 33.33%;
  min-height: 715px;
  margin-bottom: 20px;
  @include mQ(1024px){
    width: 50%;
    min-height: 700px;
  }
  @include mQ(768px){
    width: 100%;
    float: none;
    min-height: auto;
  }
}

.footer-links{
  float: left;
  width: 33.33%;
  min-width: 210px;
  padding-top: 30px;
  padding-left: 10px;
  @include mQ(768px){
    width: 50%;
  }
}
