.icon{
  background-color: transparent;
  background-image: url(../imgs/icons-sprite.svg);
  background-size: 1248px 1248px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.icon-fb{
  @extend .icon;
  background-position: -240px -240px;
  &:hover{
    background-position: -256px -256px;
  }
}

.icon-tweet{
  @extend .icon;
  background-position: -944px -944px;
  &:hover{
    background-position: -960px -960px;
  }
}

.icon-mail{
  @extend .icon;
  background-position: -497px -497px;
  &:hover{
    background-position: -513px -513px;
  }
}

.icon-more{
  @extend .icon;
  background-position: -544px -544px;
  &:hover{
    background-position: -560px -560px;
  }
}

.icon-search{
  @extend .icon;
  background-position: -784px -784px;
  &:hover{
    background-position: -800px -800px;
  }
}

.icon-time{
  @extend .icon;
  background-position: -128px -128px;
  transform: scale(.875,.875);
}

.icon-share{
  @extend .icon;
  background-position: -832px -832px;
  transform: scale(.875,.875);
}

.icon-tag{
  @extend .icon;
  background-position: -928px -928px;
}

.icon-case{
  @extend .icon;
  background-position:  -48px -48px;
}

.icon-fb-alt{
  @extend .icon;
  background-position: -272px -272px;
}

.icon-tweet-alt{
  @extend .icon;
  background-position: -976px -976px;
}

.icon-youtube{
  @extend .icon;
  background-position: -1232px -1232px;
}

.icon-insta{
  @extend .icon;
  background-position: -368px -368px;
}
.icon-pin{
  @extend .icon;
  background-position: -624px -624px;
}

.icon-feed{
  @extend .icon;
  background-position: -768px -768px;
}

.icon-mail-alt{
  @extend .icon;
  background-position: -528px -528px;
}
