.top-news{
  .featured-main{
    padding: 7px;
    .article-1{
      background-image: $gradient-alt, $gradient, url(../imgs/europe.png);
      height: 490px;
      @include mQ(1024px){
        background-image: $gradient, url(../imgs/europe.png);
        height: 369px;
      }
      @include mQ(768px){
        margin-top: 48px;
        height: 200px;
      }
    }
    span{
      display: block;
      width: 100%;
      text-align: right;
      color: white;
      font-size: 13px;
      @include mQ(1024px){
        display: none;
      }
    }
    h1{
      font-size: 44px;
      margin-bottom: 10px;
      @include mQ(1024px){
        font-size: 34px;
      }
      @include mQ(768px){
        font-size: 20px;
        margin-bottom: 0;
      }
    }
  }
  .featured-articles{
    padding: 7px;
    padding-left: 0;
    @include mQ(768px){
      padding-left: 7px;
      padding-top: 0;
    }
    article{
      height: 241.5px;
      margin-bottom: 7px;
      @include mQ(1024px){
        height: 181px;
      }
    }
    .article-2{
      background-image: $gradient, url(../imgs/robot.jpg);
    }
    .article-3{
      background-image: $gradient, url(../imgs/HackerDDos.jpg);
    }
    h1{
      @include mQ(1024px){
        font-size: 20px;
      }
    }
  }
  article{
    background-size: cover;
    position: relative;
    padding: 15px;
  }
  .article-content{
    position: absolute;
    bottom: 0;
  }
  .logo{
    width: 425px;
    position: absolute;
    top: 20px;
    left: 20px;
    @include mQ(1024px){
      display: none;
    }
  }
  small{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  a:hover{
    color: white;
  }
}
