$color-main: rgb(153, 153, 153);
$color-link: rgb(0, 0, 0);
$color-link-alt: rgb(255, 68, 34);
$font-main: 'Quicksand', Helvetica, Arial, sans-serif;
$font-alt: Helvetica, Arial, sans-serif;
$font-minor: 'Ropa Sans', sans-serif;
