@import "reset";
@import "variables";
@import "mixins";
@import "grid";
@import "typography";
@import "icons";

// Navigation section

.top-bar{
  @include clearfix;
  background: white;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  box-shadow: 0 0 20px rgba(#aaa7a7, 0.6);
  h2{
    color: $color-main;
    line-height: 48px;
    font-size: 18px;
  }
  ul{
    margin-left: 20px;
  }
  li{
    float: right;
    line-height: 48px;

  }
  i{
    margin: 11px 8px 11px 8px;
  }
  li:nth-child(2){
    border-left: 1px solid rgb(204, 204, 204);
    padding-left: 8px;
    padding-right: 8px;
  }
  li:first-child{
    float: left;
  }
}

nav{
  @include clearfix;
  margin-top: 48px;
  background: rgb(0, 0, 0);
  height: 30px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  overflow: hidden;
  ul{
    margin-left: 20px;
  }
  li{
    float: left;
    margin-right: 10px;
  }
  .right{
    float: right;
  }
  a{
    color: $color-main;
    line-height: 30px;
    &:hover{
      color: white;
    }
  }
  @include mQ(768px){
    position: fixed;
    width: 105px;
    z-index: 999;
  }
}

// Main section

.top-news{
  .featured-main{
    height: 500px;
    padding: 7px;
    .article-1{
      background-image: url(/imgs/europe.png);
      height: 490px;
    }
    span{
      display: block;
      width: 100%;
      text-align: right;
      color: white;
      font-size: 13px;
      @include mQ(1024px){
        display: none;
      }
    }
    h1{
      font-size: 44px;
      margin-bottom: 10px;
      @include mQ(1024px){
        font-size: 34px;
      }
    }
    @include mQ(1024px){
    }
  }
  .featured-articles{
    padding: 7px;
    padding-left: 0;
    article{
      height: 241.5px;
      margin-bottom: 7px;
    }
    .article-2{
      background-image: url(/imgs/robot.jpg);
    }
    .article-3{
      background-image: url(/imgs/HackerDDos.jpg);
    }
    h1{
      @include mQ(1024px){
        font-size: 20px;
      }
    }
  }
  article{
    background-size: cover;
    position:relative;
    padding: 15px;
  }
  .article-content{
    display: inline-block;
    position: absolute;
    bottom: 0;
  }
  small{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  a:hover{
    color: white;
  }

}

// Articles
.news-item{
  margin-top: 15px;
  img{
    width: 100%;
    margin-bottom: 10px;
  }
  small{
    font-weight: normal;
  }
  a:hover{
    color: rgb(69, 69, 69);
  }
}

.fund{
  position: relative;
  h3{
  }
  .fund-links{
    position: absolute;
    top: 25px;
    right: 0;
    color: $color-link-alt;
    a{
      margin-left: 5px;
      margin-right: 5px;
      &:hover{
        color: $color-link;
      }
    }
  }
  .fund-item{
    h5{
      background-color: $color-link-alt;
      padding-left: 80px;
      line-height: 40px;
    }
  }
}



// Footer
footer{
  .quote{
    text-align: center;
    height: 200px;
    background: rgb(230, 182, 162);
    @include mQ(1024px){
      display: none;
    }
  }
  section{
    div{
      float: left;
    }
  }
  .footer-links{
    width: 33.33%;
    min-width: 210px;
  }
  .social{
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }
  .copy{
    text-align: center;
    height: 100px;
    background: rgb(91, 1, 30);
  }
}
