@import "reset";
@import "mixins";

body{
  font-size: 140%;
}

// Heading

.categories{
  background: rgb(111, 24, 119);
  height: 30px;
  width: 100%;
  @include mQ(768px){
    position: fixed;
    width: 105px;
  }
}

nav{
  background: rgb(30, 129, 37);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.categories{
  margin-top: 50px;
}

header{
  @include clearfix;
  background: rgb(157, 184, 100);
  width: 100%;
  .main-news{
    float: left;
    background: rgb(137, 247, 207);
    width: 65%;
    height: 500px;
    @include mQ(768px){
      width: 100%;
      float: none;
    }
  }
  aside{
    float: left;
    width: 35%;
    background: rgb(173, 36, 34);
    article{
      height: 250px;
    }
    @include mQ(768px){
      width: 100%;
      float: none;
    }
  }
}

// Main articles

section{
  @include clearfix;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  article {
    float: left;
    width: 25%;
    height: 260px;
    background: rgb(187, 171, 28);
    @include mQ(1024px){
      width: 33.33%;
    }
    @include mQ(768px){
      width: 100%;
      float: none;
    }
  }
}
.funding article:last-child{
  @include mQ(1024px){
    display: none;
  }
}

.more-news{
  article{
    float: left;
    width: 33.33%;
    height: 260px;
    background: rgba(165, 28, 187, 0.42);
    @include mQ(1024px){
      width: 50%;
    }
    @include mQ(768px){
      width: 100%;
      float: none;
    }
  }
}

// Footer
footer{
  .quote{
    text-align: center;
    height: 200px;
    background: rgb(230, 182, 162);
    @include mQ(1024px){
      display: none;
    }
  }
  section{
    div{
      float: left;
    }
  }
  .footer-links{
    width: 33.33%;
    min-width: 210px;
  }
  .social{
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }
  .copy{
    text-align: center;
    height: 100px;
    background: rgb(91, 1, 30);
  }
}
